[submodule "evaluation/understanding/neo-evalscope"]
	path = evaluation/understanding/neo-evalscope
	url = https://github.com/OpenSenseNova/evalscope.git
	branch = neo

[submodule "evaluation/easi/EASI"]
	path = evaluation/easi/EASI
	url = https://github.com/EvolvingLMMs-Lab/EASI.git
	branch = main

[submodule "evaluation/easi/lightllm-stack/LightLLM"]
	path = evaluation/easi/lightllm-stack/LightLLM
	url = https://github.com/expectqwq/LightLLM.git
	branch = mova/sensenova-u15-rl-engine

[submodule "evaluation/easi/lightllm-stack/LightX2V"]
	path = evaluation/easi/lightllm-stack/LightX2V
	url = https://github.com/expectqwq/LightX2V.git
	branch = mova/sensenova-u15-rl-engine
